// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@include hidpi(1.5){width: 20em;}
$mobile: new-breakpoint(max-width 480px 4,max-width 375px 4);

body
{
  @include outer-container;
  background-image: image-url("little-me-grayscale-scan.jpg");
  background-size: cover;
  overflow: hidden;
  @include media($mobile) 
  {
    background-image:none;
    background-color: $black;
  }
}

header
{
  h1
  {
    a
    {
      @include textGlitch("logo", 17, white, black, red, blue, 450, 115);
    }
  }
}

section
{
  @include span-columns(12);
  font-family: 'Open Sans Condensed', sans-serif;
  color:$white;

  h1
  { 
 
    text-transform: uppercase;
    font-size:3em;
  }

  h2{margin-top:2%;}

  ul
  {
    margin:0;
    padding:0;
    li
      {
        display: inline;
        a
        {
          color:$white;
          position: relative;
          .fa
          {

          }
        }

        a:hover
        {
          .fa
          {
            
            color:$transparent_black;

          }
        }  

      }
    li:not(:first-child){padding-left:1.5em;}
    .fa
    {
      font-size:2em;
    }
  }


  h1,ul,article
  {
    @include span-columns(6); 
    @include shift(6);
  } 

h1,ul
{
  @include media($mobile)
  {
    @include span-columns(10);
    @include shift(0);
    margin:.5rem;  
  }
}  

  article
  {
    background-color:$transparent_black;
    margin-top:2em;
    padding:1em;
    @include media($mobile)
    {
      @include span-columns(4);
      @include shift(0);      
    }
  }

  p
  {
    font-family: 'Open Sans', sans-serif;
  }

}
